﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-sm-8">
    <div>
        @foreach (var feedback in ViewBag.Feedbacks)
        {
            <p>@feedback.Body</p>
            <p>@feedback.AuthorName - @feedback.CreatedAt</p>
            <hr>
        }
    </div>
    <div class="p-1 m-5">
        <a href="/Guest/PostComment">
            <button type="button" class="btn btn-primary btn-lg btn-block" >Click here to left your comment</button>
        </a>
    </div>
</div>
<div class="col-sm-4">
    <ul class="nav nav-pills flex-column">
        <li class="nav-item">
            <a class="nav-link" href="/Home/Index">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="#">Guest</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Questionnaire/Index">Questionnaire</a>
        </li>
    </ul>
    <hr class="d-sm-none">
</div>
