﻿@model Library.Models.FeedbackViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-sm-8">
       <h5 class="mb-2">For your opinion:</h5>
           @using (Html.BeginForm("PostComment", "Guest", FormMethod.Post))
           {
               <div class="form-group">
                   <label for="Name">Author`s name:</label>
                   @Html.EditorFor(model => model.AuthorName, new {htmlAttributes = new {@class = "form-control"}})
                   @Html.ValidationMessageFor(m => m.AuthorName)
               </div>
               <div class="form-group">
                   <label for="Feedback">Feedback:</label><br>
                    @Html.TextAreaFor(model => model.Body, new {@class = "form-control", rows = 10, col = 45})
                   @Html.ValidationMessageFor(model => model.Body)
               </div>
               <div class="form-group">
                   <input type="submit" value="Send" class="form-control bg-dark text-white">
               </div>
           }
</div>
<div class="col-sm-4">
    <ul class="nav nav-pills flex-column">
        <li class="nav-item">
            <a class="nav-link" href="/Home/Index">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Guest/Index">Guest</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="../Questionnaire/Index">Questionnaire</a>
        </li>
    </ul>
    <hr class="d-sm-none">
</div>