﻿@using BLL.DTO

@model IEnumerable<BLL.DTO.QuestionDto>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-sm-8">
    @using (Html.BeginForm("QuestionnaireResult", "Questionnaire", FormMethod.Get))
    {
        <div class="form-group">
            <h5 class="m-0 pb-2">Your name:</h5>
            <input type="text" required size="30" maxlength="30" name="Name" id="Name" class="form-control"/>
        </div>
        <div class="form-group">
            @foreach (var question in Model)
            {
                <h5 class="m-0 pb-2">@question.Text</h5>

                <div class="form-check pl-4">
                    @if (question.QuestionType == QuestionTypesDto.Radio)
                    {
                        foreach (var answer in question.Answers)
                        {
                            <input required class="form-check-input" type="radio" name="@question.Id" id="@answer.Text" value="@answer.Id">
                            <label class="form-check-label" for="@answer.Text">@answer.Text</label>
                            <br>
                        }
                    }
                    else
                    {
                        foreach (var answer in question.Answers)
                        {
                            <input class="form-check-input" type="checkbox" name="@question.Id" id="@answer.Text" value="@answer.Id">
                            <label class="form-check-label" for="@answer.Text">@answer.Text</label>
                            <br>
                        }
                    }
                </div>
            }
        </div>
        <div class="form-group mt-3">
            <input type="submit" value="Send" class="form-control bg-dark text-white">
        </div>
    }
</div>
<div class="col-sm-4">
    <ul class="nav nav-pills flex-column">
        <li class="nav-item">
            <a class="nav-link" href="/Home/Index">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Guest/Index">Guest</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="#">Questionnaire</a>
        </li>
    </ul>
    <hr class="d-sm-none">
</div>