﻿@using BLL.DTO
@model IEnumerable<BLL.DTO.QuestionDto>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-sm-8">
    <h5 class="m-0 pb-2">Thanks for your answer, @ViewBag.Name </h5>
    
    @foreach (var question in Model)
    {
        if (question.QuestionType == QuestionTypesDto.Radio)
        {
            <h5 class="m-0 mt-3 pb-2">@question.Text</h5>
            @Html.UnorderedList(question.Answers)
        }
        else
        {
            <h5 class="m-0 mt-3 pb-2">@question.Text</h5>
            @InlineHelpers.OrderedList(question.Answers)
        }
    }
</div>
<div class="col-sm-4">
    <ul class="nav nav-pills flex-column">
        <li class="nav-item">
            <a class="nav-link" href="/Home/Index">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Guest/Index">Guest</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Questionnaire/Index">Questionnaire</a>
        </li>
    </ul>
    <hr class="d-sm-none">
</div>