﻿@using BLL.DTO

@helper OrderedList(IEnumerable<AnswerDto> answers)  
{  
    <ol>  
        @foreach(var answer in answers)  
        {  
            <li>@answer.Text - @answer.CheckedTimes</li>  
        }  
    </ol>  
}}